<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.iolist.dao.IolistViewDao"> <!-- mapper namespace에 DAO 클래스 위치지정 -->
	<select id="selectAll" resultType="iVO"> <!-- id에 dao에 있는 메소드들 이름 -->
	<!-- 내용에, 들어갈 SQL Query문 -->
	SELECT
		IO_DATE,
		IO_INOUT,
		IO_PCODE,
		TBL_IOLIST_PNAME,
		TBL_IOLIST_IPRICE,
		TBL_IOLIST_OPRICE,
		TBL_IOLIST_PVAT,
		IO_DCODE,
		TBL_IOLIST_DNAME,
		TBL_IOLIST_DCEO,
		TBL_IOLIST_DTEL,
		TBL_IOLIST_DADDR,
		IO_QTY,
		IO_PRICE,
		IO_TOTAL,
		IO_SEQ
	FROM view_iolist
	</select>
	
	<select id="findById" resultType="iVO">
	SELECT*
	FROM view_iolist
	WHERE 
	</select>
	<select id="findByDCode" resultType="iVO">
	SELECT*
	FROM view_iolist
	WHERE io_dcode = #{io_dcode}
	</select>
	<select id="findByPCode" resultType="iVO">
	SELECT*
	FROM view_iolist
	WHERE io_pcode = #{io_pcode}
	</select>
	<select id="findByDName" resultType="iVO">
	SELECT*
	FROM view_iolist
	WHERE io_dname = #{io_dname}
	</select>
	<select id="findByPName" resultType="iVO">
	SELECT*
	FROM view_iolist
	WHERE io_pname = #{io_pname}
	</select>
	
</mapper>