<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.iolist.dao.ProDao"> <!-- mapper namespace에 DAO 클래스 위치지정 -->
	<select id="getMaxPCode" resultType="String">
	SELECT MAX(p_code) FROM tbl_product
	</select>

	<select id="selectAll" resultType="pDTO"> <!-- id에 dao에 있는 메소드들 이름 -->
	<!-- 내용에, 들어갈 SQL Query문 -->
	SELECT
		P_CODE,
		P_NAME,
		P_IPRICE,
		P_OPRICE,
		P_VAT
	FROM tbl_product
	</select>
	
	<select id="findById" resultType="pDTO">
	SELECT
		P_CODE,
		P_NAME,
		P_IPRICE,
		P_OPRICE,
		P_VAT
	FROM tbl_product
	WHERE P_CODE = #{p_code}
	</select>
	
	<select id="findByName" resultType="pDTO">
	SELECT
		P_CODE,
		P_NAME,
		P_IPRICE,
		P_OPRICE,
		P_VAT
	FROM tbl_product
	WHERE P_NAME LIKE '%' || #{p_name} || '%'
	</select>
	
	<insert id="insert" parameterType="pDTO">
	INSERT INTO tbl_product(P_CODE, P_NAME, P_IPRICE, P_OPRICE, P_VAT)
	VALUES(#{p_code}, #{p_name}, #{p_iprice}, #{p_oprice}, #{p_vat})
	</insert>
	
	<update id="update" parameterType="pDTO">
	UPDATE tbl_product
	SET	P_NAME = #{p_name},
	P_IPRICE = #{p_iprice},
	P_OPRICE = #{p_oprice},
	P_VAT = #{p_vat}
	WHERE P_CODE = #{p_code}
	</update>
	
	<delete id="delete" parameterType="pDTO">
	DELETE FROM tbl_product
	WHERE P_CODE = #{p_code}
	</delete>
	
	<select id="findByIPrice" resultType="pDTO">
	SELECT
		P_CODE,
		P_NAME,
		P_IPRICE,
		P_OPRICE,
		P_VAT
	FROM tbl_product
	WHERE P_iprice BETWEEN #{sprice} AND #{eprice}
	</select>
	
	<select id="findBySName" resultType="pDTO">
	SELECT
		P_CODE,
		P_NAME,
		P_IPRICE,
		P_OPRICE,
		P_VAT
	FROM tbl_product
	WHERE P_NAME = #{p_name}
	</select>
</mapper>